.contain-input-search{
    height: 5px;
    margin: 10px 0;
    display: flex;
    align-items:center;
    /* justify-content: space-between;   */
}
.content-cari {
    /* max-width: auto;
    margin: 85px 200px; */
    /* top: px; */
    /* margin: 10px; */
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 20px;
    background-color: rgb(228, 244, 251);
    border-radius: 10px 15px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 800px;
    margin: 0px 35px;
}
.contain-btn{
    display: flex;
    justify-content: start;
}
.filter-btn{
    margin-left: 15px;
    width: 100px;
    padding: 9px;
    border-radius: 10px;
    color: #FFFFFF;
    background-color: #017DFA;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    font-size: 11px;
    cursor: pointer;
}
.filter-btn i{margin-right: 8px;}
.filter-btn:hover{background-color: #0f4b88;}
.filter-btn:active{background-color: #065AAE;}

.filter-cari{
    cursor: text;
    font-size: 11px;
    border-radius: 10px;
    transition: all 0.3s ease;
    box-shadow: 0 0 10px rgba(148, 0, 255,0.1);
    padding-left: 15px;
    padding-right: 3%;
    /* margin-left: 8%; */
    border: 1px solid #87a3aa47;
    width: 450px;
    height: 35px;
}
.contain-input-search input:hover{
    background-color: rgba(148, 0, 255,0.1);
}
.contain-input-search label{
    /* margin-right: 20px; */
    width: 150px;
    margin-right: 30px;
}

.search-filter{
    display: flex;
    flex-direction: row;
    align-items: center;
}
/* .contain-input-search .contain-btn .search-input{
    height: 45px;
    width: 70%;
    outline: none;
    font-size: 16px;
    border-radius: 15px;
    padding-left: 15px;
    padding-right: 3%;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
    box-shadow: 0 0 10px rgba(148, 0, 255,0.1);
}
.contain-input-search .contain-btn .search-input:focus,
.contain-input-search .contain-btn .search-input:valid{
    border: #01ccff27;
} */
@media screen and (max-width > 1100px) {
    .contain-input-search label{
        width: 590px;
    }
}
/* Pengaturan untuk ukuran perangkat kecil */
@media screen and (max-width: 768px) {
    .contain-input-search {
        margin: 10px 0;
        display: flex;
    }

    .contain-btn .filter-btn {
        margin-top: 10px; /* Ubah margin-left menjadi margin-top untuk perangkat kecil */
        width: 40px; /* Hapus width agar tombol mengikuti lebar teks */
        padding: 8px; /* Penyesuaian padding untuk tampilan yang lebih baik */
        font-size: 9px; /* Tingkatkan ukuran font untuk perangkat kecil */
    }

    .contain-input-search .filter-cari {
        margin-left: 5%;
        margin-top: 10px; /* Ubah margin-right menjadi margin-top untuk perangkat kecil */
        width: 50%; /* Agar input lebar penuh di perangkat kecil */
        /* margin-right: -5%; */
    }
    .contain-btn .filter-btn i{margin-right: 5px; font-size: 8px;}
    .contain-input-search label {
        /* font-size: 14px; */
        margin-top: 10px; /* Tambahkan margin-top agar tidak terlalu dekat dengan input */
    }
}
@media screen and (max-width: 480px) {
    .contain-input-search .contain-btn button i {
        display: none;
    }
    .contain-input-search label{
        margin: 5px 0px;
        align-items: center;
    }
    .contain-input-search .filter-cari{
        margin-left: 0%;
        margin-top: 0%;
        width: 65%;
    }
    .contain-input-search .filter-btn{
        margin-top: 0%;
    }
}

.filter-container{
    display: flex;
    justify-content: start;
    margin: 10px 0px 10px 0px;
}

.filter-container select{
    border: 1px solid #215121;
    color: #017DFA;
    border-radius: 3px;
}