/* body{
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
} */
.form-container{
    margin: 15px 0px 10px 0px;
    max-width: 1080px;
    background-color: #fff;
    padding: 25px 30px 15px 30px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
    overflow: auto;
    display: flex;
}
.form-container .form-content{
    overflow: auto;
    max-width: 1080px;
    width: 100%;
    max-height: 550px;
    height: 85%;
}
.form-container .title{
    font-size: 18px;
    font-weight: 500;
    position: relative;
}
.form-container .title::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    border-radius: 15px;
    background-color: #017DFA;
}
.form-container form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: justify;
    margin: 10px 0 6px 0;
}
form .user-details .input-box{
    margin-bottom: 15px;
    margin-left: 5px;
    margin-right: 5px;
    width: calc(100% / 3 - 10px);
}

.user-details .input-box input{
    height: 40px;
    width: 100%;
    font-size: 12px;
    border-radius: 8px;
    padding: 8px 10px 8px 10px;
    border: 1px solid #ccc;
    transition: all 0.3s ease;
}
.user-details .input-box input:focus, .user-details .input-box select:focus, .input-box textarea:focus,
.user-details .input-box input:valid, .user-details .input-box select:valid, .input-box textarea:valid
{
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-color: rgba(155, 89, 182, 0.3);
}
.user-details .input-box select{
    height: 40px;
    width: 100%;
    font-size: 12px;
    border-radius: 8px;
    padding: 8px 10px 8px 10px;
    border: 1px solid #ccc;
    transition: all 0.3s ease;
    cursor: pointer;
    appearance: none;
}
.user-details .input-box textarea{
    height: 40px;
    width: 100%;
    font-size: 12px;
    border-radius: 8px;
    padding: 8px 10px 8px 10px;
    border: 1px solid #ccc;
    transition: all 0.3s ease;
    cursor: text;
    box-sizing: border-box;
    vertical-align: middle;
}

form .gender-details .gender-title{
    font-size: 18px;
    font-weight: 500;
}
form .category{
    display: flex;
    width: 80%;
    margin: 14px 0 ;
    justify-content: space-between;
}
form .category label{
    display: flex;
    align-items: center;
    cursor: pointer;
}
form .category label .dot{
    height: 18px;
    width: 18px;
    border-radius: 50%;
    margin-right: 10px;
    background: #d9d9d9;
    border: 5px solid transparent;
    transition: all 0.3s ease;
}
#dot-1:checked ~ .category label .one,
#dot-2:checked ~ .category label .two,
#dot-3:checked ~ .category label .three{
    background: #9b59b6;
    border-color: #d9d9d9;
}
form input[type="radio"]{
    display: none;
}

form .user-details .input-box .input-date{
    padding-left: 15px;
    padding-right: 5%;
    cursor: pointer;
}
/* form .user-details .input-box-2{
    margin-bottom: 15px;
    width: calc(100% / 2 - 30px);
} */
.contain-btn{
    display: flex;
    justify-content: space-between;
    margin-left: 5px;
    margin-right: 5px;
}
form hr{
    border: 1px solid #EDE5F2;
}
.input-box .error-message{
    position: relative;
    background-color: white;
    color: #e60000;
    border: 1px dashed #e60000;
    border-radius: 8px 10px;
    padding: 5px 10px;
    font-size: 12px;
    display: none;
    width: 200px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    margin-top: 10px;
}
.input-box input:focus + .error-message {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.input-box input:focus + .error-message + label {
    color: #FF6666;
    font-weight: bold;
}
.input-box select:focus + .error-message {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.input-box select:focus + .error-message + label {
    color: #FF6666;
    font-weight: bold;
}
@media screen and (max-width: 720px){
    .form-container{
        margin-left: 2%;
        margin-right: 4%;
        width: 600px;
        max-width: 100%;
    }
    form .user-details{
        margin-bottom: 0;
    }
    form .user-details .input-box{
        margin-bottom: 15px;
        margin-left: 5px;
        margin-right: 5px;
        width: calc(100% / 2 - 10px);
    }
    form .category{
        width: 100%;
    }
    .form-content form .user-details{
        max-height: 300px;
        overflow-y: scroll;
    }
    .user-details::-webkit-scrollbar{
        width: 5px;
    }
}

@media screen and (max-width: 584px){
    .form-container{
        margin-left: 2%;
        margin-right: 4%;
        width: 360px;
        max-width: 100%;
    }
    form .user-details {
        margin-bottom: 0;
    }
    form .user-details .input-box{
        margin-bottom: 15px;
        margin-left: 5px;
        margin-right: 5px;
        width: calc(100% / 1 - 10px);
    }
    form .category{
        width: 100%;
    }
    .form-content form .user-details{
        max-height: 300px;
        overflow-y: scroll;
    }
    .user-details::-webkit-scrollbar{
        width: 5px;
    }
    form .user-details .input-box .input-date{
        padding-left: 15px;
        padding-right: 3%;
        cursor: pointer;
    }
}
@media(max-width: 459px){
    .form-container{
        margin-top: 5px;
    }
    .container .form-content .category{
        flex-direction: column;
    }
    form .user-details .input-box{
        margin-bottom: 15px;
        margin-left: 5px;
        margin-right: 5px;
        width: calc(100% / 1 - 10px);
    }
    form .user-details .input-box .input-date{
        padding-left: 15px;
        padding-right: 3%;
        cursor: pointer;
    }
}
.toggle-arrow{
    cursor: pointer;
}
